/target
/releases
Cargo.lock
._*
.DS_Store
.idea/
docs/private/
credentials.json
.kilo/
server/data/*.json
server/data/cache
front/dist/
front/node_modules/
front/package-lock.json
dist/
server/data/
